.Container {
    position: absolute;
    display: inline-block;
    width: 60%;
    left: 20%;
    height: 100%;
    border: 0.5vw solid black;
}

.Poza {
    position: absolute;
    height: 100%;
    width: 100%;

}

.formular {
    position: absolute;
    top: 55vh;
    left: 30vw;
}

.formular2 {
    position: absolute;
    top: 55vh;
    left: 57vw;
}

.submit {
    margin: 0.5vw;
    width: 20vmin;
    height: 4vmin;
    font-size: 1.7vmin;
    text-align: center;
    color: white;
    background-color: #889498;
    border-radius: 7px;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid black;
}

.submit:hover {
    color: darkred;
}

label {
    font-size: 3vmin;

}

.submit2 {
    margin: 0.5vw;
    width: 20vmin;
    height: 4vmin;
    font-size: 1.7vmin;
    text-align: center;
    color: white;
    background-color: #889498;
    border-radius: 7px;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid black;
}

.submit2:hover {
    color: darkred;
}

h6 {
    position: absolute;
    top: 10vh;
    left: 20vw;
    font-size: 6vmin;
    text-align: center;
    text-wrap: normal;
    word-wrap: break-word;
    line-height: 100%;
    vertical-align: middle;
    width: 60vw;
    z-index: 1;
}

#datepicker {
    display: block;
    height: 3.5vmin;
    width: 99%;
    font-size: 2vmin;
    box-sizing: content-box;

}

.submit2 {
    position: absolute;;
    top: 8vh;
}

input {
    height: 3.3vh;
    border: 1px solid black;
    font-size: 2vmin;
}