.Container{
    position: absolute;
    display: inline-block;
    width: 60%;
    left: 20%;
    height: 100%;
    border: 0.5vw solid black;
}
.Poza{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}
h1{
    position: absolute;
    top: 10%;
    font-size: 6vmin;
    text-align: center;
    text-wrap: normal;
    word-wrap: break-word;
    line-height: 100%;
    vertical-align: middle;
    width: 60vw;
    z-index: 1;
}

.form1{
    padding: 8vh 2vw;
    position: absolute;
    font-size: 3vmin;
    text-decoration: none;
    display: inline-block;
    top: 3vh;
    left: 13vw;
    width: 34vw;
    height: 0;

}

.form1 input[type=text]{
    padding: 1vh 3vw;
    height: 2vmin;
    width: 10vw;
    font-size: 2vmin;
    border: 1px solid #ff0200;
    display: inline-block;
}

.form1:hover{
    color: #1a006b;
}


.form1 .submit1{
    margin: 10px;
    width: 10vmin;
    height: 4vmin;
    font-size: 2vmin;
    text-align:center;
    color: white;
    background-color: #669999;
    border-radius: 7px;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid black;
}


.form1 .submit1:hover{
    color: #00ffbf;
    background-color: #004d39;

}

.form2 {
    padding: 3vh 2vw;
    position: absolute;
    font-size: 3vmin;
    text-decoration: none;
    display: inline-block;
    top: 20vh;
    left: 4vw;
    width: 40vw;
    height: 0;


}


textarea {

    width: 40vw;
    height: 25vh;
    padding: 2vw 2vh;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 7px;
    background-color: #f8f8f8;
    font-size: 3vmin;
    resize: none;
    overflow: auto;
    display: inline-block;
}
.form2 input[type=text]{
    padding: 1vh 3vw;
    height: 2vmin;
    width: 11vw;
    font-size: 2vmin;
    border: 1px solid #ff0200;
    display: inline-block;

}
.form2 .submit1{
    margin: 9% 45%;
    width: 30%;
    font-size: 2vmin;
    text-align: center;
    color: white;
    background-color: #669999;
    border-radius: 7px;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid black;
    display: block;

}